<html>
  <head>
    <title> The Gossip Project </title>
  </head>
  
  <body>
    <h1> PAGE POTIN </h1>
     <form action= '/gossips/:id' method='POST'>
       <h2>Vous avez demandé la page du potin n° <%= params[:id] %> </h2>
       <br>
       Son auteur : <%= Gossip.all["#{params[:id]}".to_i + -1].author%>
       <br>
       Son contenu : <%= Gossip.all["#{params[:id]}".to_i + -1].content%>
       <br>
    </form>
    <a href ="http://localhost:4567">Revenir à la page des potins.</a>
      </body>
</html>
